.show-grid {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    padding: 30px;
}

.head-block-left-side {
    margin-top: 15vh;
}

.title {
    font-size: 50pt;
    color: #cdcdcd;
}
.highlighted-text {
    color: indigo;
}

.start-now-button {
    font-size: 24pt;
    background-image: linear-gradient(to right, #7c0ae9, #a94cc4);
}

.content-category {
    margin-top: 15vh;
    font-size: 42pt;
    color: #cdcdcd;
}

.content-category li {
    font-size: 28pt;
}
.content-category h1 {
    font-size: 36pt;
}
