.words-header-block, .videos-header-block{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 35vh;
    color: white;
}
.words-header-block {
    background-image: url("assets/images/roof.jpg");
}

.videos-header-block {
    background-image: url("assets/images/water.jpg");
}

.header-block h2 {
    padding-top: 10%;
    font-size: 42px;
    color: #eeeeee;
}

.posts-container {
    max-width: 1700px;
    margin: 0 auto;
}

.search-block {
    text-align: center;
    margin: 20px 0;
}

.favorite-icon {
    float: right;
    margin: 20px;
    font-size: 40px;
}

.videos-container {
    padding-left: 2%;
    max-width: 1500px;
    margin: 0 auto;
}
